<section class="paintings">
    <h2>PINTURAS</h2>
    <div class="paintings-grid">
      <div class="painting-card">
        <img src="noche-estrellada-van-gogh.jpg" alt="La noche estrellada">
        <p><strong>"La noche estrellada"</strong> de Vincent van Gogh, 1889. Una obra maestra que captura la intensidad del cielo nocturno con remolinos de luz y un paisaje sereno, transmitiendo emoción y movimiento.</p>
      </div>
      <div class="painting-card">
        <img src="dos_fridas.jpeg" alt="Las dos Fridas">
        <p><strong>"Las dos Fridas"</strong> de Frida Kahlo, 1939. Un autorretrato que refleja la dualidad interna de la artista, mostrando dos versiones de sí misma conectadas por el corazón.</p>
      </div>
      <div class="painting-card">
        <img src="jover_perla.jpg" alt="La joven de la perla">
        <p><strong>"La joven de la perla"</strong> de Johannes Vermeer, 1665. Un retrato enigmático que destaca por su sencillez y la misteriosa mirada de la joven complementada por la icónica perla que lleva.</p>
      </div>
    </div>
  </section>
  