footer {
    background-color: #B3875D;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media a img {
    width: 30px;
}

footer p {
    margin-top: 10px;
    color: #221002;
    font-size: 14px;
}
